@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Tilt+Warp&display=swap');
/* font-family: 'Indie Flower', cursive;
font-family: 'Source Serif Pro', serif;
font-family: 'Tilt Warp', cursive; */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: 'Source Serif Pro', serif;
}
/* Buttons */
.btn-main {
    background-color: rgb(224, 169, 248) ;
    
}
.btn-main:hover {
    color: white;
    background-color: rgb(169, 190, 248) ;
    
}
/* Navigation Bar */
nav ul {
    font-size: 25px;
}
#home-link {
    color: rgb(52, 2, 107);
}

/* Home Page */
/*  */

.logo {
    width: 100px;
    
}
.section-title {
    text-align: center;
    margin: 30px;
}
.welcome {
    background-image: url('/images/bg-home.jpg');
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.welcome-text {
    text-align: center;
    

}
.welcome-text-bg {
    margin-top: 180px;
    
}
#home-name {
    font-size: 80px;
    /* color: rgb(235, 205, 248);  */
    color: rgb(224, 169, 248);
}
/* #home-title {
    color: rgb(229, 228, 226);
} */
#home-description {
    margin-top: 10px;
    font-size: 50px;
}
/* ABSTRACT floating animation */
#abstract {
    font-family: 'Indie Flower', cursive;
    color: rgb(224, 169, 248); 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 10px;
    margin-top: 5px;
}
#abstract-word {
    font-size: 50px;
}
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); } 
}

/* CONCRETE falling animation */
#concrete {
    font-family: 'Tilt Warp', cursive;
    color: rgb(229, 228, 226);
    display: flex;
    
}
.letter {
    font-size: 50px;
}
.c {
    opacity: 0;
    animation: drop .4s linear forwards;

}
.o {
    opacity: 0;
    animation: drop .4s linear forwards .2s;
    
}
.n {
    opacity: 0;
    animation: drop .4s linear forwards .4s;
    
}
.c2 {
    opacity: 0;
    animation: drop .4s linear forwards .6s;
    
}
.r {
    opacity: 0;
    animation: drop .4s linear forwards .8s;
    
}
.e {
    opacity: 0;
    animation: drop .4s linear forwards 1s;
    
}
.t {
    opacity: 0;
    animation: drop .4s linear forwards 1.2s;
    
}
.e2 {
    opacity: 0;
    animation: drop .4s linear forwards 1.4s;
    
}
@keyframes drop {
    0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
    5% {opacity: .7;}
    50% {transform: translateY(0px) scaleY(1); opacity: 1;}
    65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
    75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
    100% {transform: translateY(0px) scaleY(1); opacity: 1;}
  }


/* About Section */
.about {
    height: 650px;
    text-align: center;
}

.about-profile {
    width: 350px;
    /* height: 380px; */
    border-radius: 100%;
   
}
.about-description {
    justify-self: center;
    align-self: center;

}
/* Contact Section */

/* Project Section */
.projects {
    background-image: url('/images/bg-projects.jpg');
    background-size: cover;
    border-radius: 5px;
    /* height: 1200px; */
}
.project-card {
    margin: 30px;
    box-shadow: rgb(240, 240, 240) 0px 25px 50px -12px;
}
.project-img {

}
.project-title {
    color: rgb(52, 2, 107);
    font-size: 30px;
}
.project-text {

}

/* Footer */
.footer {
    /* background-color: rgb(169, 185, 248);  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    margin-top: 3rem;
    border-radius: 10px;
    text-align: center;
}
.footer a, p {
    color: rgb(52, 2, 107);
    font-size: 20px;
    text-align: center;
    
}
.footer p {
    font-size: 15px;
}